<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%$title%><%$/title%></title>
  <link rel="stylesheet" href="../common/lib/normalize.css">
  <link rel="stylesheet" href="../common/lib/font-awesome.min.css">
  <style>
    [v-cloak] {
      display: none;
    }
  </style>

  <%$link%><%$/link%>
</head>
<body>
  <div id="app" v-cloak>
    <%$body%><%$/body%>
  </div>

  <script type="text/javascript" src="../common/lib/vue.min.js"></script>

  <%$script%><%$/script%>
</body>
</html>