<bag-include file="layout.html">
  <bag-slot name="title">Bag Tool GUI版</bag-slot>

  <bag-slot name="link">
    <link rel="stylesheet" href="./home.css">
  </bag-slot>

  <bag-slot name="body">
    <div :class="['page', infoMode ? 'blur' : '']">
      <div class="poster" v-if="projects.length === 0">
        <h1>Bag Tool GUI版</h1>
      </div>

      <div class="projects-area" v-else @click="nowProjectIdx = ''">
        <header>Projects</header>

        <ul :class="[removeMode ? 'remove-mode' : '']">
          <li v-for="(project, project_i) in projects">
            <label>
              <input type="radio" :value="project_i" v-model="nowProjectIdx">
              <div :class="['project-main', workingArr[project_i] ? 'working' : '']">
                <i class="project-icon fas fa-folder"></i>
                <div class="project">
                  <div class="project-title">{{ project.title }}</div>
                  <div class="project-path">{{ project.path }}</div>
                </div>
                <button class="project-info" @click.stop="infoProject(project_i)"><i class="fas fa-info-circle"></i></button>
                <button class="project-del" @click.stop="removeProject(project_i)"><i class="fas fa-trash-alt" title="移除"></i></button>
              </div>
            </label>
          </li>
        </ul>
      </div>

      <transition name="slide-updown">
        <div v-show="nowProjectIdx !== ''" class="work-area">
          <button :class="['btn', workingArr[nowProjectIdx] === 'build' ? 'working' : '']" @click="build(nowProjectIdx)">编译{{ workingArr[nowProjectIdx] === 'build' ? '...' : '' }}</button>
          <button :class="['btn', workingArr[nowProjectIdx] === 'watch' ? 'working' : '']" @click="watch(nowProjectIdx)">监听{{ workingArr[nowProjectIdx] === 'watch' ? '...' : '' }}</button>
          <button :class="['btn', workingArr[nowProjectIdx] === 'init' ? 'working' : '']" @click="init(nowProjectIdx)">初始化{{ workingArr[nowProjectIdx] === 'init' ? '...' : '' }}</button>
          <button :class="['btn', workingArr[nowProjectIdx] === 'clean' ? 'working' : '']" @click="clean(nowProjectIdx)">清理{{ workingArr[nowProjectIdx] === 'clean' ? '...' : '' }}</button>
        </div>
      </transition>

      <div class="bottom-bar">
        <button class="function-btn" @click="addProject"><i title="添加新项目" class="fas fa-plus"></i></button>
        <button :class="['function-btn', removeMode ? 'remove-mode' : '']" :disabled="projects.length === 0" @click="removeProjects"><i title="移除项目" class="fas fa-minus"></i></button>
        <button class="function-btn" :disabled="nowProjectIdx === ''" @click="openProject"><i title="打开项目目录" class="far fa-folder-open"></i></button>
        <button class="function-btn"><i title="设置" class="fas fa-cog"></i></button>
      </div>
    </div>

    <div class="page page-info" v-if="infoMode">
      <div class="function-area">
        <header>功能</header>
        <div class="form-row">
          <label>
            <input type="checkbox" class="checkbox">开启 LiveReload 浏览器自动刷新
          </label>
        </div>
      </div>
    </div>
  </bag-slot>

  <bag-slot name="script">
    <script type="text/javascript">
      require('./home.js');
    </script>
  </bag-slot>
</bag-include>