<bag-include file="layout.html">
  <bag-slot name="title">Bag Tool</bag-slot>

  <bag-slot name="link">
    <link rel="stylesheet" href="./home.css">
  </bag-slot>

  <bag-slot name="body">
    <div class="poster" v-if="projects.length === 0">
      <h1>Bag Tool GUI版</h1>
    </div>

    <div class="projects-area" v-else>
      <header>Projects</header>

      <ul>
        <li v-for="(project, project_i) in projects">
          <label>
            <input type="radio" name="project-radio">
            <div class="project-main">
              <i class="project-icon fas fa-folder"></i>
              <div class="project-title">{{ project.title }}</div>
            </div>
          </label>
        </li>
      </ul>
    </div>

    <div class="gulp-area">
      <button class="btn" @click="build">编译</button>
      <button class="btn" @click="watch">监听</button>
      <button class="btn" @click="init">初始化</button>
      <button class="btn" @click="clean">清理</button>
    </div>

    <div class="bottom-bar">
      <a class="function-btn" @click="addProject"><i title="添加新项目" class="fas fa-plus"></i></a>
      <a class="function-btn"><i title="移除项目" class="fas fa-minus"></i></a>
      <a class="function-btn"><i title="打开项目目录" class="far fa-folder-open"></i></a>
      <a class="function-btn"><i title="设置" class="fas fa-cog"></i></a>
    </div>
  </bag-slot>

  <bag-slot name="script">
    <script type="text/javascript">
      require('./home.js');
    </script>
  </bag-slot>
</bag-include>