// #1ed75f
@main-color: #4a90e2; // 主色调
@sub-color: #eefaf0; // 次色调
@accent-color: #54d560; // 强调色
@warn-color: #ffd048; // 警告色
@error-color: #ff7272; // 错误色
@disable-color: #808080; // 不可用色
@gray-color: #f1f1f1; // 灰色
@border-color: #dedede; // 边框颜色

#app {
  height: 100%;
}

.btn {
  width: 74px;
  font-size: 14px;
  color: @main-color;
  padding: 8px;
  border: 1px solid @main-color;
  background-color: #fff;
  border-radius: 3px;
  cursor: pointer;

  &:hover {
    color: #1ca62a;
    border: 1px solid #1ca62a;
  }
}