@import "../../common/base.less";

header {
  line-height: 40px;
  color: @disable-color;
  font-family: "Microsoft YaHei";
  font-weight: 100;
  padding: 0 10px 0 10px;
  .no-select();
}

.page-projects {
  overflow: hidden !important;
  transition: filter .3s ease;

  .projects-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 1;

    .edit-projects {
      color: @main-color;
      width: 18px;
      height: 18px;

      .edit-projects-done {
        color: @accent-color;
      }
    }
  }

  .poster {
    h1 {
      color: @main-color;
      font-weight: 100;
      padding: 200px 0;
      text-align: center;
    }
  }

  .projects-area {
    height: 100%;
    padding-bottom: 24px;
    position: relative;

    main {
      .full-page();

      position: absolute;
      top: 0;
      left: 0;
      padding-top: 40px;
      padding-bottom: 24px;
      overflow: hidden;

      ul {
        .no-scrollbar();
        .full-page();

        li {
          width: 100%;
          height: 50px;
          display: flex;
          align-items: center;
          background-color: #fff;

          &.move-mode {
            box-shadow: 0px 0px 10px -1px @disable-color;
            position: relative;
            z-index: 1;
          }

          label {
            .full-page();

            input[type=radio] {
              position: absolute;
              left: -1000px;
            }

            input[type=radio]:checked {
              +.project-main {
                background-color: @sub-color;
                box-shadow: inset 3px 0 0 0 @accent-color;

                .project {
                  .project-path {
                    display: block;
                  }
                }

                .project-info {
                  display: block;
                }
              }
            }

            .project-main {
              height: 100%;
              display: flex;
              align-items: center;
              position: relative;

              &.working::after {
                content: "";
                width: 4px;
                height: 4px;
                position: absolute;
                left: 13px;
                top: 50%;
                margin-top: -2px;
                border-radius: 50%;
                background-color: @accent-color;
              }

              .project {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;

                .project-title {
                  .no-select();
                  font-size: 15px;
                  color: #000;
                }

                .project-path {
                  font-size: 11px;
                  color: @disable-color;
                  margin-top: 4px;
                  display: none;
                  cursor: text;
                }
              }

              .project-icon {
                font-size: 30px;
                color: #74c2e1;
                margin: 0 12px 0 28px;
              }

              .project-right-icon(@color, @right) {
                display: none;
                color: @color;
                font-size: 14px;
                position: absolute;
                right: @right;
              };

              .project-info {
                .project-right-icon(#74c2e1, 28px);
              }

              .project-del {
                .project-right-icon(@error-color, 34px);
              }

              .project-move {
                display: none;
                position: absolute;
                right: 10px;
              }
            }
          }
        }

        &.edit-mode {
          li {
            label {
              input[type=radio]+.project-main {
                .project-del,
                .project-move {
                  display: block;
                }

                .project-info {
                  display: none;
                }
              }
            }
          }
        }

        &:not(.edit-mode) li:hover {
          background-color: @gray-color;

          .project-info {
            display: block;
          }
        }
      }

      .delete-confirm-dialog {
        .full-page();

        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;

        .content {
          width: 250px;
          height: 150px;
          position: absolute;
          top: 30%;
          left: 50%;
          margin-left: -125px;
          box-shadow: 0px 0px 10px 0px @border-color;
          background-color: #fff;
          border-radius: 10px;

          p {
            .no-select();
            text-align: center;
            height: 40px;
            line-height: 20px;
            margin: 30px 0 10px 0;
            display: flex;
            justify-content: center;
            align-items: center;
            word-break: break-all;
          }

          .btns {
            text-align: center;

            .btn {
              margin: 0 4px;
            }
          }
        }

        .mask {
          .full-page();
        }

        &.zoom-in-down-enter-active,
        &.zoom-in-down-leave-active {
          transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1);
        }

        &.zoom-in-down-enter,
        &.zoom-in-down-leave-to {
          opacity: 0;
          transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
        }
      }

      .project-move-area {
        .full-page();

        position: fixed;
        z-index: 2;
        top: 70px;
        left: 0;
        cursor: move;
      }
    }
  }

  .work-area {
    height: 70px;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid @border-color;
    background-color: #fff;

    &.slide-updown-enter-active,
    &.slide-updown-leave-active {
      transition: all .3s ease;
    }

    &.slide-updown-enter,
    &.slide-updown-leave-to {
      transform: translateY(70px);
    }

    .btn {
      margin: 0 10px;

      &.working {
        color: #1ca62a;
        border: 1px solid #1ca62a;
      }
    }
  }

  .log-area {
    @log-bg-color: #282c34;
    // @log-bg-color: #eeeeee;
    @log-color: #fff;
    // @log-color: #6f7d6a
    @log-sub-color: #666666;

    width: 100%;
    line-height: 16px;
    padding: 5px 30px 5px 5px;
    font-family: Consolas, 'Courier New', monospace;
    font-size: 14px;
    color: @log-color;
    background-color: @log-bg-color;
    border-top: 1px solid @border-color;
    position: absolute;
    bottom: 24px;

    .custom-scrollbar-y(#3b414d);

    &:hover {
      padding-right: 24px;
    }

    .log-empty-btn {
      position: fixed;
      right: 10px;
      font-size: 14px;
      color: @log-sub-color;

      &:hover {
        color: @log-color;
      }
    }

    code {
      white-space: pre-wrap;
      word-wrap: normal;

      .common-style() {
        font-family: inherit;

        &::selection {
          background-color: #ffffff24;
        }

        &::-webkit-selection {
          background-color: #ffffff24;
        }
      }

      .common-style();

      span {
        .common-style();
      }

      .log-command {
        color: #21b6f1;
      }

      .log-finish {
        color: @accent-color;
      }

      .log-error,
      .log-cancel {
        color: @error-color;
      }
    }
  }

  .bottom-bar {
    height: 24px;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 0 2.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid @border-color;
    background-color: #fff;
    z-index: 100;

    .function-right-btns {
      flex: 1;
      display: flex;
      justify-content: flex-end;
    }

    .function-btn {
      color: @main-color;
      font-size: 14px;
      margin: 0 5px;

      &.log-mode {
        color: @accent-color;
      }

      &:hover {
        color: @accent-color;
      }

      &[disabled] {
        color: @disable-color;
        cursor: default;
      }
    }
  }
}

.page-info {
  padding-bottom: 20px;
  font-size: 14px;

  .info-btns {
    position: fixed;
    top: 30px;
    right: 14px;
    font-size: 20px;
    line-height: 40px;
    overflow: hidden;

    button {
      float: left;
      margin-left: 8px;
      color: @main-color;
    }
  }

  .info-block {
    margin: 10px 0;
    .no-select();

    header {
      color: #000;
      line-height: 30px;
      box-shadow: inset 3px 0 0 0 @main-color;
    }

    main {
      padding: 0 28px;

      @form-row-height: 30px;

      .form-tips {
        line-height: @form-row-height;
        color: @disable-color;
      }

      .form-row {
        height: @form-row-height;
        line-height: @form-row-height;
        display: inline-block;

        .form-margin-left {
          margin-left: 19px;
        }

        .form-title {
          width: 70px;
        }

        .form-label {
          cursor: pointer;
          float: left;
        }

        input[type=text] {
          float: left;
          margin: 2px 5px 0 0;
        }

        input[type=checkbox] {
          float: left;
          margin: 8px 5px 0 0;
        }
      }

      @edit-icon-width: 2px;
      @edit-icon-height: 16px;

      .edit-icon(@color) {
        width: @edit-icon-height;
        height: @edit-icon-height;
        margin-top: 7px;
        border: @edit-icon-width solid @color;
        border-radius: 50%;
      };

      .form-add {
        .edit-icon(@form-color);
        .add-icon-element(@edit-icon-width, @edit-icon-height/2, @form-color);
      }

      .form-delete {
        .edit-icon(@error-color);
        .delete-icon-element(@edit-icon-width, @edit-icon-height/2, @error-color);
      }
    }
  }
}

.page-about {
  text-align: center;
  .no-select();

  .about-btns {
    position: fixed;
    top: 30px;
    right: 14px;
    font-size: 20px;
    line-height: 40px;
    overflow: hidden;

    button {
      float: left;
      margin-left: 8px;
      color: @main-color;
    }
  }

  .logo {
    margin-top: 30px;

    img {
      height: 80px;
    }
  }

  .title {
    font-weight: 100;
    font-size: 16px;
    margin: 15px 0 10px 0;
  }

  .version {
    color: @disable-color;
    font-size: 12px;
    margin: 10px 0;

    p {
      font-family: Consolas, "Courier New", monospace;
      height: 15px;
      line-height: 15px;
    }
  }

  .decoration {
    font-size: 14px;
    margin-top: 20px;
    letter-spacing: 1px;

    a {
      margin: 0 3px;
    }
  }

  .like {
    margin-top: 15px;
    cursor: default;

    .reward {
      display: none;
      @rewardWidth: 300px;
      width: @rewardWidth;
      height: @rewardWidth;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -@rewardWidth/2;
      margin-left: -@rewardWidth/2;
    }

    &:hover {
      .reward {
        display: block;
      }
    }
  }

  .shortcut {
    width: 300px;
    padding: 10px;
    margin: 15px auto;
    border: 1px solid #ddd;

    .shortcut-title {
      font-size: 14px;
      margin-bottom: 5px;
    }

    .shortcut-main {
      width: 200px;
      margin: 0 auto;

      .shortcut-item {
        font-size: 14px;
        height: 25px;
        overflow: hidden;

        .code {
          float: left;
          display: flex;
          align-items: center;
          width: 70px;
          height: 25px;

          code {
            background-color: rgba(27, 31, 35, .05);
            border-radius: 3px;
            font-size: 85%;
            margin: 0 3px;
            padding: .2em .4em;
          }
        }

        .text {
          float: left;
          height: 25px;
          line-height: 25px;
        }
      }
    }
  }

  .author-area {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;

    .author {
      margin: 0 5px;
      text-decoration: underline;
    }

    .avatar {
      @avatarWidth: 16px;
      width: @avatarWidth;
      height: @avatarWidth;
      border-radius: 3px;
    }
  }

  .link {
    margin: 20px 0 59px 0;

    button {
      margin: 0 8px;
    }
  }
}